body {
    font-family: 'Roboto', sans-serif;
    background-color: #c5dee6;
    padding-top: 2rem;
}

h2{
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: auto;
}

.form-label {
    font-weight: 600;
}

.form-control, .form-check-input, .form-control-file {
    border-radius: 0.25rem;
}

.btn-submit {
    margin-top: 1rem;
}